.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

._basket {
    width: 40%;
    max-height: 80%;

    background-color: white;
}

._scroll {
    overflow: auto;
}

._hidden {
    visibility: visible;
}

._content {
    min-width: 500px;
    padding: 3%;
}

.__header {
    display: flex;
    flex-direction: row;
}

._title {
    width: 100%;
}

.__font {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #4F4F4F;
}

.__close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.__total {
    text-align: end;
}

._font {
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     color: #4F4F4F;
 }

.__close:hover {
     background: #c9c5c5;
 }

@media (max-width: 639px) {
    ._basket {
        width: 100%;
        max-height: 100%;
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
    ._basket {
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    ._basket {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    ._basket {
        width: 65%;
    }
}
