.footer {
    height: 420px;
    flex-shrink: 0;
}

._background {
    background: url('footer.png');
}

.__box {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "zero first_ second third"
            ". . medias ."
}

._gradient {
    position: absolute;
    width: 100%;
    margin-top: 79px;
    height: 258px;
    table-layout: fixed;
    background: #4F4F4F;

    opacity: 0.9;
}

._font {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: white;
}

.__item {
    text-align: center;
}

._zero {
    grid-area: zero;
}

._first {
    grid-area: first_;
}

._second {
    grid-area: second;
}

._third {
    grid-area: third;
}

.__medias {
    display: flex;
    justify-content: space-evenly;
    grid-area: medias;
}

.__medias > .contact {
    flex: 1;
}

.__media-icon {
}

.__media-icon:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.__media-icon:active {
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.5);
}

@media (max-width: 639px) {
    .__box {
        grid-template-columns: 1fr;
        grid-template-areas:
            "zero"
            "first_"
            "second"
            "medias"
            "third"
    }
}
